@import url('https://fonts.googleapis.com/css?family=Poppins');

body{
	background:  url(pictures/55.jpg) no-repeat;
	background-size: contain;
}

.picture{
	
	height: 380px;
}
.line{
	padding: 65px;
	font-family: "Poppins";
    font-size: 4.5rem;

}
.line h1{
	font-family: "Poppins";
	text-decoration:underline;
	text-shadow: #001928 4px 4px 2px;
	text-align: center;
	color: #3A649F;
}

#home{
	height: 1600px;
	background: white;

}
.popular{
	height: 45%;
	width: 100%;
	background: #071222;
	text-align: center;
	
}
.popular h1{
	padding-top: 40px;
	font-family: "Poppins";
	color: #fff;
	text-transform: uppercase;
	font-size: 250%;
}
.cont{
	width: 100%;
	height: 75%;
  
}

.item{
	box-shadow: 4px 6px 15px 0 rgba(0, 0, 0, 1);
	width: 250px;
    font-family: 'Poppins';
    color: black;
    float: left;
   	margin: 5% 0 5% 5%;
    background: white;
    display: block;

}
.img img{
	width: 100%;
	height: 220px;
}
.item h3{
	margin: 8px;
}
.btn{
	padding-top: 15px;
	padding-bottom: 15px;
}
.btn button{
	width: 40%;
	height: 32px;
	background:  #004BA8;
	border: none;
	border-radius: 5px;
	color: #fff;
	text-transform: uppercase;
	transition: 0.2s ease;
	cursor: pointer;

}
.btn button:hover{
	background: #004BA8;
	color: #000;
}
.center-btn{
	width: 100%;
	position: absolute;
	padding-top: 15px;
	padding-bottom: 15px;
}
.center-btn a{
	text-decoration: none;
	color: #fff;
}
.center-btn button{
	width: 120px;
	height: 48px;
	background:  #004BA8;
	border: none;
	border-radius: 5px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	
}
.center-btn a:hover{
	background: #004BA8;
	color: #000;
	transition: 0.2s ease;
	cursor: pointer;
}
.new{
	width: 100%;
	height: 45%;
	text-align: center;
}
.new h1{
	padding-top: 40px;
	font-family: "Poppins";
	color: #000;
	text-transform: uppercase;
	font-size: 250%;
}

@media(max-width: 1400px){
	#home{
		height: 1400px;
	}
	.picture{
		height: 300px;
	}
	.popular{
		height: 50%;
	}
	.new{
		height: 50%;
	}
	.cont{
		width: 100%;
		height: 70%;
	}
	
}

@media(max-width: 1300px){
	.item{
		width: 300px;
		height: 420px;
	}
	#home{
		height: 2500px;
	}
	.picture{
		height: 200px;
	}
	.cont{
		height: 85%;
	}

}

@media(max-width: 1100px){
	.item{
		width: 380px;
		height: 580px;
	}
	#home{
		height: 3200px;
	}
	.picture{
		height: 200px;
	}
	.cont{
		height: 85%;
	}
	.img img{
		height: 320px;
	}
	.item h3{
		margin: 20px;
		font-size: 30px;
	}
	.btn button{
		height: 55px;
	}

}

@media(max-width: 850px){
	.item{
		width: 320px;
		height: 480px;
	}
	#home{
		height: 2800px;
	}
	.picture{
		height: 250px;
	}
	.cont{
		height: 85%;
	}
	.img img{
		height: 300px;
	}
	.item h3{
		margin: 10px;
		font-size: 20px;
	}
	.btn button{
		height: 45px;
	}
	body{
	background:  url(pictures/f-mb.jpg);
	background-size: contain;
}

}

@media(max-width: 750px){
	.item{
		margin-left: 15%;
		margin-right: 15%;
		width: 70%;
		height: 700px;
	}
	#home{
		height: 6600px;
	}
	
	.cont{
		height: 90%;
	}
	.img img{
		height: 450px;
	}
	.item h3{
		margin: 20px;
		font-size: 30px;
	}
	.center-btn button{
		margin-top: 100px;
	}

}


@media(max-width: 600px){
	.item{
		width: 60%;
		height: 530px;
		margin-left: 20%;
		margin-right: 20%
	}
	#home{
		height: 5100px;
	}
	.cont{
	
		height: 90%;
	}
	.img img{
		height: 300px;
	}
	.item h3{
		margin: 10px;
		
	}
	.center-btn button{
		margin-top: 40px;
	}
	.picture{
		height: 200px;
	}
}


@media(max-width: 500px){
	.item{
		width: 80%;
		height: 450px;
		margin-left: 10%;
		margin-right: 10%
	}
	#home{
		height: 4400px;
	}
	.cont{
		height: 90%;
	}
	.img img{
		height: 250px;
	}
	.item h3{
		font-size: 20px;
	}
	.center-btn button{
		margin-top: 0px;
	}

}



